* {
  /* margin: 0; */
  /* padding: 0; */
  caret-color: transparent;
  box-sizing: border-box;

  font-family: 'Manrope',sans-serif;
}

.page-font {
  color: hsl(214, 17%, 51%) ;
  font-size: clamp(13px,calc(max(2.9vw,1.5vh) + 0.19rem),40px);
}


/* size-7 rounded-4xl pt-[6px] pl-[7px] */
.main-h1 {
  font-weight: 700;
  font-size: clamp(16px,max(4.4vw,2.4vh),40px);
}


.footer-width {
  width: calc(100% - 56px);
}

.avatar-info-h3 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.avatar-info-p {
  color: hsl(212, 23%, 69%);
}


.forward-arrow {
  width: 8vw;
  height: 8vw;
  border-radius: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.forward-arrow > svg {
  scale: 1.1;
}

.share-wrapper-p {
  font-weight: 500;
  font-size: clamp(13px,max(3.8vw,1.9vh),40px);
}


@media only screen and (375px < width) {
  #p {
    width: 100%;
  }
}





@media only screen and (847px < width) {
  .share-wrapper {
    left: 0px; 
  }
}


